$mtp-gold: #edb733;
$mtp-navy-blue: #2c4d90;
$mtp-white: #fefaf1;
$mtp-black: #0c1120;
$mtp-light:#ffffff;
$mtp-light1:#F8F8FC;
$mtp-gray1:#333333;
$mtp-gray2:#4F4F4F;
$mtp-gray3:#828282;
$mtp-light-gold: #fbf1d6;
$mtp-navy:#020B58;
